.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    text-align: center;
    display:flex;
    justify-content:center;

  }

  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }

  .Button:hover:active {
    background-color: #2f4858 !important;
  }
  
  .Button:active {
    background-color: #ff6f6f!important;
  }
  
  .Button:focus {
    background-color: #db628e;
    border-color: transparent;
  }

  .Bright {
    background-color: #db628e;
    color: white;
  }

  .Bright:hover {
    background-color: #2f4858;
    color: #ffffff;
  }

  .Wide {
    padding: 10px 50px;
    width: 60%;
    margin: auto;
  }

  .Form {
    display: inline-block; 
    margin-right: 20px;
    background-color: #6e5e93;
    color: #ffffff;
  }

  .Form:hover {
    background-color: #db628e;
    color: white;
  }