.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Event figure,
  h5 {
    margin: 0 0;
  }

  .Title {
    font-weight: bold;
  }

  .Tags {
    font-weight: bold;
    color: #a6609b;
    font-size: smaller;
  }