.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Event figure,
  h5 {
    margin: 0 0;
  }

  .Smile {
    color: #42567a;
  }
  
  .Smile:hover {
    color: #db628e;
  }
  
  .SmileOutline:hover {
    color: #db628e;
  }

  .Tags {
    font-weight: bold;
    color: #a6609b;
    font-size: smaller;
  }