.SearchBar {
  display: flex;
  flex-direction: row;
}

.SearchBar input {
    border-radius: 20px;
    color: #2f4858;
    padding-left: 40px;
    margin-bottom: 16px;
    margin-right: 20px;
    width: 65%;
  }

  .SearchBar select {
    color: #2f4858;
    margin-bottom: 16px;
    width: 35%;
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }
