.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    margin-bottom: 1rem;
}

.NavLink {
    padding: 5px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
}

.Active i {
    color: #db628e;
}

#dropdownMenu {
    color: #2f4858;
    transition: color ease-in-out 0.3s;
    padding: 5px;
    text-align: center;
    margin-left: 20px;
}

.dropdownText:hover {
    color: #6e5e93;
}







